/* current-weather.css */

/* Add padding and margin to create a gap between containers */
.weather-container {
    margin: 20px;
    padding: 20px;
    background-color: transparent; /* Set background color to transparent */
}

.weather {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;
    background-color: #fff; /* Set background color for the weather container */
}

.weather:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.city {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.weather-description {
    margin-top: 5px;
    color: #666;
}

.bottom {
    margin-top: 20px;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.details {
    margin-top: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.parameter-label {
    font-weight: bold;
    color: #333;
}

.parameter-value {
    font-weight: normal;
    color: #666;
}

/* Remove background color */
.aqi-container {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.172);
    background-color: #fff; /* Set background color for the AQI container */
}

/* Hover effect for the AQI container */
.aqi-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.aqi-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.aqi-value {
    font-size: 24px;
    color: #00aaff; /* Or any other color you prefer */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Container for the graph */
.graph-container {
    margin-top: 20px; /* Add margin top */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.172); /* Add box shadow */
    background-color: #fff; /* Set background color for the graph container */
}
